body {
	font-family: arial;
	text-align: center;
}

.col {
	border: 1px solid black;
	width: 150px;
	height: 150px;
	float: left;
	font-size: 75px;
	color: white;
}

.row {
	clear: both;
	margin: 0 auto;
	width: 456px;
}

.x {
	background-color: red;
	border: 1px solid white;
}

.o {
	background-color: blue;
	border: 1px solid white;
}